*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 60%;
  margin: auto;
}

.faq-container {
  padding-bottom: 80px;
}
.faq-container > h1 {
  padding-bottom: 20px;
}

.faq-container p {
  padding-bottom: 20px;
}
